ANTI_MULTI_ACCOUNT_ENABLED=
APP_NAME=
DB_FILE=
DEFAULT_STORAGE_QUOTA_BYTES=
JWT_SECRET=
MAX_SHARE_LINKS_PER_USER=
PREVIEW_CACHE_ROOT=
PREVIEW_FFMPEG_CRF=
PREVIEW_FFMPEG_LIVE_CRF=
PREVIEW_FFMPEG_LIVE_PRESET=
PREVIEW_FFMPEG_PRESET=
PREVIEW_MAX_TRANSCODES=
SESSION_SECRET=
SFTP_HOST=
SFTP_PASSWORD=
SFTP_PORT=
SFTP_PRIVATE_KEY_PATH=
SFTP_USERNAME=
STORAGE_ROOT=